/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2015, 14:06:33
    Author     : root
*/

.container{
    margin-top: 51px;
}

.range{
    margin : 5px;
}

#progressbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 10px;
}

body .list-group{
    color:  black;
}

.list-group-item:nth-child(2n){
    background-color: #ddd;
}

footer{
    border-top: #333 1px solid;
    padding-top: 50px;

}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .dropdown:not(:hover) .dropdown-menu{
        display: none;
    }
}